/* 
    Document   : style
    Created on : Apr 26, 2013, 10:45:46 PM
    Author     : gonzalo
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body
{
    margin: 20px 40px 0;    
}

code
{
    background-color: #F9F9F9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    font-family: Monaco,Verdana,Sans-serif;
    font-size: 12px;
    margin: 14px 0;
    padding: 12px 10px;
}
